.img-div{
    margin-top: 30px;   
}
.img1{
height: 300px;
margin-left: 35px;
}
// .p1{
// font-size: 25px;
// }
.main{
    margin-top: 100px;
}
body{
    margin-top: 5px;
	background-color:#f2f2f2;
	padding-bottom: 40px;
    padding-top: 70px;
  }
