
<!-- Button trigger modal -->
<div class="toolbar">
    <div class="add-leave">
      <button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="all_approved_leave()"
        data-backdrop="static" data-keyboard="false">
       All Approved Leaves
      </button>
      <button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="all_rejected_leave()"
        data-backdrop="static" data-keyboard="false">
        All Pending Leaves
      </button>
    </div>
  
  </div> 
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeleaveClick()">
                  <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
         
        </div>
      </div>
    </div>
  
    <br>
  <div class="d-flex flex-row">
    <input [(ngModel)]="nature_filter" class="form-control"
    (keyup)="FilterFn()" placeholder="Filter by nature of leave">&nbsp;&nbsp;

    <button type="button" class="btn btn-light"
    (click)="sortResult('nature_of_leave',true)">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
    </svg>
  </button>&nbsp;&nbsp;
  <button type="button" class="btn btn-light"
    (click)="sortResult('nature_of_leave',false)">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
    </svg>
  </button>
<br><br>
  </div>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Employee Name</th>              
                  <th>Apply Date</th>
                  <th>Nature of Leave</th>
                  <th>First Day</th>
                  <th>Last Day</th>
                  <th>No. of Days</th>
                  <!-- <th>Status</th> -->
                  <th style="padding-left:90px ;">Options</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let dataItem of LeaveList">
                <td>{{dataItem.user}}</td>
                <td>{{dataItem.apply_date}}</td>
                <td>{{dataItem.nature_of_leave}}</td>
                <td>{{dataItem.first_Day}}</td>
                <td>{{dataItem.last_Day}}</td>
                <td>{{dataItem. number_Of_Days}}</td>
                <!-- <td>{{dataItem.status}}</td> -->
                  <td>
                    <button type="button" class="btn btn-success mr-1" data-toggle="modal" data-target="#exampleModal"
                      (click)="approveClick(dataItem)" data-backdrop="static" data-keyboard="false"> Approve               
                    </button>&nbsp;&nbsp;&nbsp;
  
                    <button type="button" class="btn btn-danger mr-1"                    
                      (click)="rejectClick(dataItem)" data-backdrop="static" data-keyboard="false">  Reject                
                    </button>&nbsp;&nbsp;&nbsp;
                  </td>
              </tr>
          </tbody>
      </table>
  
