.logo-EMP{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    color: #063970;
}
.ul-nav>li{
padding: 17px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
.nav-div:hover{
   background-color: #e3e6f3;
   border-radius: 18px;
   color: aquamarine;
}
.btn1{
    background-color: hsl(229, 40%, 92%);
    border: 0;
}
.sub-links{
    background-color:#e6e8ef ;
    border-radius: 10px;
    
}